@font-face {
	font-family: "Cuprum";
	src: url("../fonts/cuprum.woff2") format("woff2"),
	url("../fonts/cuprum.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Cuprum";
 	src: url("../fonts/cuprumbold.woff2") format("woff2"),
	url("../fonts/cuprumbold.woff") format("woff");
 	font-weight: 700;
 	font-style: normal;
}

@font-face {
	font-family: "Cuprum";
 	src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
	url("../fonts/cuprumbolditalic.woff") format("woff");
 	font-weight: 700;
 	font-style: italic;
}

@font-face {
	font-family: "Cuprum";
 	src: url("../fonts/cuprumitalic.woff2") format("woff2"),
	url("../fonts/cuprumitalic.woff") format("woff");
 	font-weight: 400;
 	font-style: italic;
}

@font-face {
	font-family: "PTSans";
 	src: url("../fonts/ptsans.woff2") format("woff2"),
	url("../fonts/ptsans.woff") format("woff");
 	font-weight: 400;
 	font-style: normal;
}

@font-face {
	font-family: "PTSans";
 	src: url("../fonts/ptsansbold.woff2") format("woff2"),
	url("../fonts/ptsansbold.woff") format("woff");
 	font-weight: 700;
 	font-style: normal;
}

body {
	margin: 0;
}

/* 1 СЕКЦИЯ ШАПКИ */

.header {
	background-color: #f3f7f8;
	padding-bottom: 65px;
}

.user-nav {
	background-color: #293449;
	height: 42px;
}

.user-nav-content {
	max-width: 940px;
	height: 42px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: auto;
}

.user-nav-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	background-color: #ee3643;
	box-shadow: 0px 5px 0px 0px rgba(181, 41, 51, 1);
	width: 220px;
	height: 42px;
}

.user-nav-logo p {
	color: #ffffff;
	text-decoration: none;
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	padding: 0;
	margin: 0;
}

.user-nav-logo:hover {
	background-color: #ca2c37;
	box-shadow: 0px 5px 0px 0px rgba(154, 33, 42, 1);
}

.user-nav-logo:active {
	background-color: #ba2732;
	box-shadow: 0px 5px 0px 0px rgba(142, 30, 38, 1);
}

.header-search label {
	display: flex;
	align-items: center;
	width: 270px;
}

.header-search label:hover {
	background-color: #212a3a;
	height: 42px;
}

#icon-search {
	padding: 12px 15px 13px 17px;
	order: 0;
	fill: #6a7180;
	cursor: pointer;
}

#icon-search:hover {
	fill: #ffffff;
}

.header-search input[type="text"] {
	height: 42px;
	width: 221px;
	background-color: transparent;
	color: #ffffff;
	border: none;
	outline: none;
	order: 1;
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
}

.header-search input[type="text"]:focus {
	background-color: #ffffff;
	color: #000000;
}

.header-search input[type="text"]:hover + #icon-search {
	fill: #ffffff;
}

.header-search input[type="text"]:focus + #icon-search {
	background-color: #ffffff;
	fill: #ee3643;
}

.user-nav-bookmark {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 150px;
	height: 42px;
	text-decoration: none;
}

.user-nav-bookmark:hover {
	background-color: #212a3a;
}

.user-nav-bookmark:hover #icon-bookmark {
	fill: #ffffff;
}

.user-nav-bookmark:active {
	background-color: #161d29;
}

.user-nav-bookmark:active #icon-bookmark {
	fill: #8b8e94;
}

.user-nav-bookmark:active p {
	color: #babbbd;
}

.user-nav-bookmark p {
	color: #ffffff;
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
	order: 1;
	padding: 0;
	margin: 0;
}

#icon-bookmark {
	order: 0;
	padding-left: 17px;
	padding-right: 13px;
	fill: #6a7180;
}

.user-nav-cart {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 150px;
	height: 42px;
	text-decoration: none;
}

.user-nav-cart:hover {
	background-color: #212a3a;
}

.user-nav-cart:hover #icon-cart {
	fill: #ffffff;
}

.user-nav-cart:active {
	background-color: #161d29;
}

.user-nav-cart:active #icon-cart {
	fill: #8b8e94;
}

.user-nav-cart:active p {
	color: #babbbd;
}

.user-nav-cart p {
	color: #ffffff;
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
	order: 1;
	padding: 0;
	margin: 0;
}

.user-nav-cart #icon-cart {
	order: 0;
	padding-left: 18px;
	padding-right: 17px;
	fill: #6a7180;
}

.user-nav-cart-full {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 150px;
	height: 42px;
	text-decoration: none;
	background-color: #ee3643;
}

.user-nav-cart-full p {
	color: #ffffff;
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
	order: 1;
	padding: 0;
	margin: 0;
}

.user-nav-cart-full #icon-cart {
	order: 0;
	padding-left: 18px;
	padding-right: 17px;
	fill: #f3737c;
}

.user-nav-order {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	background-color: #63a63e;
	width: 150px;
	height: 42px;
}

.user-nav-order:hover {
	background-color: #5fbb2d;
}

.user-nav-order:active {
	background-color: #518534;
}

.user-nav-order:active p {
	color: #a2be93;
}

.user-nav-order p {
	color: #ffffff;
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
	padding: 0;
	margin: 0;
}

/* 2 СЕКЦИЯ ШАПКИ */

.main-info-content {
	max-width: 940px;
	display: flex;
	margin: auto;
}

.main-info-title {
	padding-top: 49px;
	width: 250px;
}

.main-info-title h1 {
	margin: 0;
	padding: 0;
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 16px;
	line-height: 23px;
	font-weight: normal;
	font-style: italic;
	color: #ee3643;
	margin-left: 53px;
}

.relax {
	margin: 0;
	padding: 0;
	margin-left: 53px;
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 16px;
	line-height: 23px;
	font-weight: normal;
	font-style: italic;
	color: #ee3643;
}

.main-info-contact {
	width: 320px;
	padding-top: 46px;
	padding-left: 70px;
}

.contact {
	display: flex;
	align-items: center;
	width: 240px;
	border: 3px solid #ffffff;
	padding: 10px 13px 10px 13px;
}

.icon-phone {
	height: 19px;
	width: 19px;
	margin-right: 40px;
	background: url(../img/icon-phone.svg) no-repeat;
}

.header-phone {
	text-decoration: none;
	color: #ee3643;
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 21px;
	line-height: 21px;
	font-weight: normal;
	font-style: normal;
}

.header-adress {
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	font-style: normal;
	color: #32425c;
	padding: 0;
	margin: 0;
	padding-left: 10px;
	padding-top: 3px;
}

.main-info-user {
	width: 300px;
	padding-top: 46px;
}

.user-panel {
	display: flex;
}

.login {
	width: 120px;
	height: 45px;
	background-color: #ffffff;
	margin-right: 10px;
	margin-left: 24px;
}

.login-item {
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 21px;
	line-height: 21px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	fill: #c5c5c5;
}

.login-item:hover {
	color: #ee3643;
	fill: #32425c;
}

.login-item:active {
	color: #c5c5c5;
	fill: #c5c5c5;
}

.login-item span {
	order: 1;
	margin-left: -3px;
}

#icon-login {
	margin-left: -14px;
	padding-right: 14px;
	order: 0;
}

.registration {
	width: 150px;
	height: 45px;
	background-color: #ffffff;
}

.registration-item {
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 21px;
	line-height: 21px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.registration-item:hover {
	color: #ee3643;
}

.registration-item:active {
	color: #c5c5c5;
}

.user {
	display: flex;
	width: 300px;
	height: 45px;
	background-color: #ffffff;
	margin-right: 10px;
	margin-bottom: 7px;
}

.user-item {
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 21px;
	line-height: 21px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 240px;
	height: 100%;
	fill: #c5c5c5;
}

.user-item:hover {
	fill: #32425c;
}

.user-item:active {
	fill: #c5c5c5;
	color: #c5c5c5;
}

.user-item span {
	order: 1;
	margin-left: -2px;
}

#icon-user {
	padding-right: 14px;
	margin-left: 7px;
	order: 0;
}

.user-logout {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 100%;
	fill: #c5c5c5;
}

.user-logout:hover {
	fill: #32425c;
}

.user-logout:active {
	fill: #c5c5c5;
}

.user-logout svg {
	margin-left: 18px;
}

.user-order {
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
	color: #32425c;
	margin-left: 18px;
}

.user-order:hover {
	color: #ee3643;
}

.user-order:active {
	color: #c5c5c5;
}

.user-order:after {
	content: "";
	height: 4px;
	width: 4px;
	border-radius: 2px;
	background-color: #32425c;
	position: absolute;
	margin-left: 15px;
	margin-top: 7px;
}

.user-account {
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
	color: #32425c;
	margin-left: 29px;
}

.user-account:hover {
	color: #ee3643;
}

.user-account:active {
	color: #c5c5c5;
}

/* Меню */

.main-navigation {
	display: flex;
	align-items: center;
	margin: auto;
	max-width: 920px;
	height: 55px;
	background-color: #32425c;
	margin-top: 40px;
	box-shadow: 0px 5px 0px 0px rgba(41, 52, 73, 1);
	padding-left: 10px;
	padding-right: 10px;
}

.navigation-item {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-decoration: none;
	font-family: "Cuprum","Arial",sans-serif;
	color: #ffffff;
	font-size: 17px;
	line-height: 17px;
	font-weight: normal;
	font-style: normal;
	width: 100%;
	height: 100%;
}

.navigation-item:hover {
	background-color: #293449;
}

.navigation-item:active {
	background-color: #1d2739;
	box-shadow: 0px 5px 0px 0px rgba(29, 39, 57, 1);
	color: #868c95;
}

.navigation-item:nth-child(1) {
	width: 95%;
}

.navigation-item:nth-child(2) {
	width: 80%;
}

.navigation-item:nth-child(2) span {
	margin-left: -9px;
}

.navigation-item:nth-child(3) {
	width: 75%;
}

.navigation-item:nth-child(4) {
	width: 75%;
}

.navigation-item:nth-child(4) span {
	margin-left: 2px;
}

.navigation-item:nth-child(5) {
	width: 130%;
}

.navigation-item:nth-child(6) {
	width: 75%;
}

.navigation-item:nth-child(7) span {
	margin-left: -3px;
}

/*Контейнер*/

.container {
	background-color: #ffffff;
}

.full-catalog {
	display: flex;
}

/*Параметры товаров*/

.container-catalog {
	max-width: 940px;
	margin: auto;
	margin-bottom: -17px;
}

.bread-crumbs {
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 940px;
	height: 60px;
	margin-bottom: -3px;
}

.bread-crumbs li {
	display: inline;
	padding: 0 40px 0 0;
	font-family: "PTSans","Arial",sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	margin-top: -4px;
}

.bread-crumbs li:nth-child(3) {
	padding-right: 43px;
}

.bread-crumbs-home {
	position: absolute;
	background: url("../img/icon-home.svg") no-repeat;
	width: 15px;
	height: 12px;
	margin-top: -7px;
	margin-left: -2px;
}

.bread-crumbs li:first-child:after {
	content: "";
	position: absolute;
	background: url("../img/icon-right-small.svg") no-repeat;
	width: 8px;
	height: 12px;
	margin-left: 28px;
	margin-top: -7px;
}

.bread-crumbs li:nth-child(2) {
	margin-left: 15px;
}

.bread-crumbs li:after {
	content: "";
	position: absolute;
	background: url("../img/icon-right-small.svg") no-repeat;
	width: 8px;
	height: 12px;
	margin-left: 15px;
	margin-top: 3px;
}

.bread-crumbs li:nth-child(2):after {
	margin-left: 17px;
}

.bread-crumbs li:nth-child(3):after {
	margin-left: 18px;
}

.bread-crumbs li:last-child:after {
	display: none;
}

.bread-crumbs li a {
	text-decoration: none;
	color: #000000;
}

.bread-crumbs li:last-child {
	padding: 0;
}

.title-category {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: #f2f6f8;
	height: 90px;
	width: 940px;
}

.title-category h1 {
	padding: 0;
	margin: 0;
	padding-left: 28px;
	font-family: "Cuprum","Arial",sans-serif;
	color: #32425c;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
}

/*Параметры*/

.parameter {
	max-width: 220px;
}

.parameter-title {
	font-family: "PTSans","Arial",sans-serif;
	font-size: 17px;
	line-height: 30px;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 14px;
}

.filter {
	display: flex;
	align-items: center;
	width: 220px;
	height: 38px;
	border-radius: 2px;
	background-color: #f7f3ec;
	margin-top: 20px;
}

.filter span {
	margin-left: 19px;
	font-family: "PTSans","Arial",sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	color: #000000;
	margin-top: -1px;
}

.price {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 220px;
	height: 80px;
	border-radius: 2px;
	background-color: #f7f3ec;
}

.prices {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 220px;
	height: 38px;
	margin-top: 8px;
}

.range {
	position: relative;
	height: 42px;
	padding: 39px 22px 0;
	border-radius: 2px;
	background: #f7f3ec;
}

.range .scale {
	height: 2px;
	background: #e2e4e3;
}

.range .bar {
	width: 80%;
	height: 2px;
	background: #52d89c;
}

.range .slider {
	position: absolute;
	top: 30px;
	left: 0;
	width: 6px;
	height: 6px;
	cursor: pointer;
	border: 8px solid #ffffff;
	border-radius: 50%;
	background: #b5b5b5;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	cursor: pointer;
}

.range .min-slider {
	left: 19px;
}

.range .max-slider {
	left: 159px;
}

.min-price {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 96px;
	height: 38px;
	border-radius: 2px;
	background-color: #f7f3ec;
}

.min-price input {
	width: 94px;
	box-sizing: border-box;
	padding: 6px 5px 9px;
	padding-left: 9px;
	text-align: center;
	border: none;
	background-color: transparent;
	font-family: "PTSans","Arial",sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
}

.min-price input:active {
	outline: none;
}

.min-price input:focus {
	outline: none;
}

.max-price {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 96px;
	height: 38px;
	border-radius: 2px;
	background-color: #f7f3ec;
}

.max-price input {
	width: 94px;
	box-sizing: border-box;
	padding: 6px 5px 9px;
	padding-left: 9px;
	text-align: center;
	border: none;
	background-color: transparent;
	font-family: "PTSans","Arial",sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
}

.max-price input:active {
	outline: none;
}

.max-price input:focus {
	outline: none;
}

.parameter-checkbox {
	list-style: none;
	padding: 0;
	margin: 0;
}

.parameter-checkbox li {
	padding-bottom: 20px;
}

.parameter-checkbox li:last-child {
	padding-bottom: 0;
}

.check {
	cursor: pointer;
	padding-left: 35px;
	display: flex;
	align-items: center;
	font-family: "PTSans","Arial",sans-serif;
	font-size: 15px;
	line-height: 20px;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
}

.check-input {
	position: absolute;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: none;
}

/*Checkbox OFF*/

.check-box {
	cursor: pointer;
	position: absolute;
	margin-left: -35px;
	height: 23px;
	width: 23px;
	background-image: url(../img/checkbox-off.svg);
}

.check-input:hover + .check-box {
	background-image: url(../img/checkbox-off-hover.svg);
}

.check-input:disabled + .check-box {
	background-image: url(../img/checkbox-off-disabled.svg);
}

/*Checkbox ON*/

.check-input:checked + .check-box {
	background-image: url(../img/checkbox-on.svg);
	margin-left: -35px;
	width: 27px;
}

.check-input:checked:hover + .check-box {
	background-image: url(../img/checkbox-on-hover.svg);
}

.check-input:checked:disabled + .check-box {
	background-image: url(../img/checkbox-on-disabled.svg);
}

.line {
	height: 1px;
	width: 220px;
	background-color: #e5e5e5;
	margin: 25px 0 17px 0;
}

.line-2 {
	height: 1px;
	width: 220px;
	background-color: #e5e5e5;
	margin: 25px 0 15px 0;
}

.parameter-radio {
	list-style: none;
	padding: 0;
	margin: 0;
}

.parameter-radio li {
	padding-bottom: 18px;
}

.parameter-radio li:last-child {
	padding-bottom: 0;
}

.radio {
	cursor: pointer;
	padding-left: 35px;
	display: flex;
	align-items: center;
	font-family: "PTSans","Arial",sans-serif;
	font-size: 15px;
	line-height: 20px;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
}

.radio-input {
	position: absolute;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: none;
}

/*Radio OFF*/

.radio-box {
	cursor: pointer;
	position: absolute;
	margin-left: -35px;
	height: 25px;
	width: 25px;
	background-image: url(../img/radio-off.svg);
}

.radio-input:hover + .radio-box {
	background-image: url(../img/radio-off-hover.svg);
}

.radio-input:disabled + .radio-box {
	background-image: url(../img/radio-off-disabled.svg);
}

/*Radio ON*/

.radio-input:checked + .radio-box {
	background-image: url(../img/radio-on.svg);
	margin-left: -35px;
}

.radio-input:checked:hover + .radio-box {
	background-image: url(../img/radio-on-hover.svg);
}

.radio-input:checked:disabled + .radio-box {
	background-image: url(../img/radio-on-disabled.svg);
}

.btn-show {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 80px;
	width: 140px;
	height: 38px;
	background-color: transparent;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	cursor: pointer;
}

.btn-show:active {
	outline: none;
}

.btn-show span {
	text-transform: uppercase;
	font-family: "PTSans","Arial",sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
}

/*Сортировка*/

.catalog-items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 700px;
	margin-left: 20px;
	margin-top: 20px;
}

.sort {
	display: flex;
	align-items: center;
	width: 700px;
	height: 38px;
	border-radius: 2px;
	background-color: #f7f3ec;
	margin-bottom: 20px;
}

.sort h2 {
	margin-left: 18px;
	font-family: "PTSans","Arial",sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	color: #000000;
	margin-top: 6px;
}

.sort a {
	text-decoration: none;
	cursor: pointer;
	padding: 0;
}

.sort-price {
	margin-left: 142px;
	margin-top: -4px;
	border-bottom: 1px dotted #ee3643;
	font-family: "PTSans","Arial",sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	color: #b2b2b2;
}

.sort-price:hover {
	color: #000000;
	border-bottom: 1px solid #ee3643;
}

.sort-price:active {
	color: #ee3643;
	border-bottom: none;
	outline: none;
}

.sort-type {
	margin-left: 70px;
	margin-top: -4px;
	border-bottom: 1px dotted #ee3643;
	font-family: "PTSans","Arial",sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	color: #b2b2b2;
}

.sort-type:hover {
	color: #000000;
	border-bottom: 1px solid #ee3643;
}

.sort-type:active {
	color: #ee3643;
	border-bottom: none;
	outline: none;
}

.sort-function {
	margin-left: 65px;
	margin-top: -4px;
	border-bottom: 1px dotted #ee3643;
	font-family: "PTSans","Arial",sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	color: #b2b2b2;
}

.sort-function:hover {
	color: #000000;
	border-bottom: 1px solid #ee3643;
}

.sort-function:active {
	color: #ee3643;
	border-bottom: none;
	outline: none;
}

/*Стрелка вверх*/

.up-btn {
	margin-left: 45px;
}

.up-btn:active {
	outline: none;
}

.up {
	fill: #c5c5c5;
}

.up:hover {
	fill: #000000;
}

.up:active {
	fill: #ee3643;
}

/*Стрелка вниз*/

.down-btn {
	margin-left: 23px;
}

.down-btn:active {
	outline: none;
}

.down {
	fill: #c5c5c5;
}

.down:hover {
	fill: #000000;
}

.down:active {
	fill: #ee3643;
}

/*Каталог товаров*/

.catalog-item {
	width: 220px;
	border: 1px solid #e5e5e5;
	margin-bottom: 20px;
}

.catalog-item:hover {
	box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.5);
}

.catalog-item-select {
	width: 220px;
	border: 1px solid #e5e5e5;
	margin-bottom: 20px;
}

.catalog-item-select:hover {
	box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.5);
}

.new {
	display: flex;
	justify-content: center;
	width: 0;
	height: 0;
	border-top: 59px solid #ee3643;
	border-left: 60px solid transparent;
	position: absolute;
	margin-left: 160px;
	margin-top: -174px;
	z-index: 2;
}

.new:before {
	content: "";
	width: 0;
	height: 0;
	border-top: 20px solid #ffffff;
	border-left: 20px solid transparent;
	position: relative;
	top: -59px;
	left: 1px;
	z-index: 2;
}

.new p {
	color: #ffffff;
	position: relative;
	top: -62px;
	right: 24px;
	z-index: 2;
	transform: rotate(45deg);
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
}

.new-replace {
	display: flex;
	justify-content: center;
	width: 0;
	height: 0;
	border-top: 59px solid #ee3643;
	border-left: 60px solid transparent;
	position: absolute;
	margin-left: 160px;
	margin-top: -170px;
	z-index: 2;
}

.new-replace:before {
	content: "";
	width: 0;
	height: 0;
	border-top: 20px solid #ffffff;
	border-left: 20px solid transparent;
	position: relative;
	top: -59px;
	left: 1px;
	z-index: 2;
}

.new-replace p {
	color: #ffffff;
	position: relative;
	top: -62px;
	right: 24px;
	z-index: 2;
	transform: rotate(45deg);
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
}

.photo-item {
	width: 218px;
	height: 170px;
}

.item-title {
	font-family: "PTSans","Arial",sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	font-style: normal;
	color: #000000;
	text-align: center;
	margin: 0;
	margin-top: 3px;
}

.item-name {
	font-family: "PTSans","Arial",sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	font-style: normal;
	color: #000000;
	text-align: center;
	margin: 0;
	margin-bottom: 13px;
}

.item-title-replace {
	font-family: "PTSans","Arial",sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	font-style: normal;
	color: #000000;
	text-align: center;
	margin: 0;
	margin-top: 6px;
}

.item-name-replace {
	margin: 0;
	font-family: "PTSans","Arial",sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	font-style: normal;
	color: #000000;
	text-align: center;
	margin-bottom: 13px;
}

.item-link {
	text-decoration: none;
}

.full-price {
	font-family: "PTSans","Arial",sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
	font-style: normal;
	color: #999999;
	text-align: center;
	text-decoration: line-through;
}

.full-price-hidden {
	font-family: "PTSans","Arial",sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
	font-style: normal;
	color: #999999;
	text-align: center;
	text-decoration: line-through;
	visibility: hidden;
}

.discount-price {
	width: 122px;
	height: 38px;
	background-color: #ee3643;
	position: relative;
	margin-bottom: 20px;
	margin-top: 10px;
	margin-left: 44px;
}

.discount-price:after {
	content: "";
	border-top: 19px solid transparent;
	border-left: 19px solid #ee3643;
	border-bottom: 19px solid transparent;
	position: absolute;
	left: 100%;
	top: 0;
}

.discount-price p {
	font-family: "PTSans","Arial",sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
	font-style: normal;
	color: #ffffff;
	position: absolute;
	margin: 0;
	top: 25%;
	left: 28%;
}

.replace-photo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 218px;
	height: 170px;
}

.buy {
	cursor: pointer;
	display: flex;
	align-items: center;
	margin: 0 auto;
	width: 135px;
	height: 35px;
	border-radius: 2px;
	background-color: #63a63e;
	box-shadow: 0px 3px 0px 0px rgba(54,115,21,1);
	border: none;
	margin-bottom: 14px;
	margin-top: -5px;
	margin-left: 43px;
}

.buy:hover {
	background-color: #5fbb2d;
}

.buy:hover #cart {
	fill: #ffffff;
}

.buy:active {
	background-color: #518534;
	box-shadow: 0px 5px 0px 0px rgba(81,133,52,1);
	outline: none;
}

.buy span {
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	font-family: "Cuprum","Arial",sans-serif;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	margin-left: -1px;
	margin-top: 7px;
}

#cart {
	fill: #92c178;
	margin-left: 9px;
	margin-right: 20px;
	margin-top: 4px;
}

.favorite {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	width: 135px;
	height: 36px;
	border-radius: 2px;
	border: 3px solid #63a63e;
	background-color: transparent;
	margin-left: 43px;
}

.favorite span {
	font-family: "Cuprum","Arial",sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
	line-height: 18px;
	color: #32425c;
	text-transform: uppercase;
	margin-left: 2px;
}

.favorite:hover {
	border: 3px solid #32425c;
}

.favorite:active {
	border: 3px solid #c1c6ce;
	outline: none;
}

.favorite:active span {
	color: #c1c6ce;
}

.pages {
	display: flex;
	margin-top: 32px;
	width: 100%;
}

.page {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 36px;
	height: 36px;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	font-family: "PTSans","Arial",sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	margin-right: 10px;
	text-decoration: none;
}

.page:hover {
	border-color: #bdc6ca;
}

.page:active {
	border-color: #ee3643;
}

.page-select {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 38px;
	height: 38px;
	background-color: #ee3643;
	border-radius: 2px;
	font-family: "PTSans","Arial",sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
	color: #ffffff;
	margin-right: 10px;
	text-decoration: none;
}

.page-next {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 138px;
	height: 36px;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	font-family: "PTSans","Arial",sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	margin-right: 10px;
	text-transform: uppercase;
	text-decoration: none;
}

.page-next:hover {
	border-color: #bdc6ca;
}

.page-next:active {
	border-color: #ee3643;
}

.perforator-info h3 {
	padding: 0;
	margin: 0;
	font-size: 30px;
	font-family: "Cuprum","Arial",sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	margin-top: 123px;
	margin-bottom: 23px;
}

.perforator-info p {
	padding: 0;
	margin: 0;
	font-size: 13px;
	line-height: 24px;
	font-family: "PTSans","Arial",sans-serif;
	font-weight: normal;
	font-style: normal;
	color: #000000;
}

/*Сетка на главной*/

.grid {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 940px;
	margin: auto;
	padding-top: 59px;
}

.grid-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.grid-item-1 {
	width: 620px;
	height: 266px;
	background-image: url(../img/layer-2.jpg);
	background-color: #816e62;
	margin-top: 20px;
}

.grid-item-2 {
	width: 620px;
	height: 266px;
	background-image: url(../img/layer-1.jpg);
	background-color: #816e62;
	margin-top: 20px;
}

.grid-item-2 h2 {
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	color: #ffffff;
	margin: 24px 0 0 25px;
}

.grid-item-2 p {
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	line-height: 24px;
	color: #ffffff;
	margin: 0 0 20px 25px;
}

.slider-items {
	height: 38px;
	display: flex;
	align-items: center;
	margin-top: 50px;
}

.button-catalog {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 195px;
	height: 38px;
	background-color: #ee3643;
	border-radius: 2px;
	text-decoration: none;
	margin-left: 26px;
}

.button-catalog:hover {
	background-color: #ca2c37;
}

.button-catalog:active {
	background-color: #ba2732;
}

.button-catalog span {
	color: #ffffff;
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	margin-bottom: -2px;
}

.slider {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10px;
	width: 10px;
	border-radius: 100%;
	background-color: #ffffff;
}

.slider-1 {
	margin-left: 75px;
}

.slider-2 {
	margin-left: 10px;
}

.slider-select {
	height: 6px;
	width: 6px;
	border-radius: 100%;
	background-color: #ee3643;
}

.new-index {
	display: flex;
	justify-content: center;
	width: 0;
	height: 0;
	border-top: 59px solid #ee3643;
	border-left: 60px solid transparent;
	position: absolute;
	margin-left: 240px;
	z-index: 2;
}

.new-index:before {
	content: "";
	width: 0;
	height: 0;
	border-top: 20px solid #ffbf47;
	border-left: 20px solid transparent;
	position: relative;
	top: -59px;
	left: 1px;
	z-index: 2;
}

.new-index p {
	color: #ffffff;
	position: relative;
	top: -62px;
	right: 24px;
	z-index: 2;
	transform: rotate(45deg);
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
}

.grid-first {
	width: 160px;
}

.grid-second-1 {
	background: url(../img/icon-1.svg);
	width: 44px;
	height: 65px;
	margin-left: 53px;
	margin-top: 30px;
}

.grid-second-2 {
	background: url(../img/icon-2.svg);
	width: 75px;
	height: 61px;
	margin-left: 37px;
	margin-top: 32px;
}

.grid-second-3 {
	background: url(../img/icon-3.svg);
	width: 78px;
	height: 62px;
	margin-left: 31px;
	margin-top: 30px;
}

.grid-second-4 {
	background: url(../img/icon-4.svg);
	width: 59px;
	height: 72px;
	margin-left: 36px;
	margin-top: 25px;
}

.grid-second-5 {
	background: url(../img/icon-5.svg);
	width: 78px;
	height: 63px;
	margin-left: 31px;
	margin-top: 30px;
}

.grid-title {
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	font-style: normal;
	color: #ffffff;
	margin-left: 22px;
	margin-top: 20px;
	margin-bottom: 12px;
}

.grid-text {
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
	color: #ffffff;
	text-transform: uppercase;
}

.grid-item-min-1 {
	display: flex;
	width: 300px;
	height: 123px;
	background-color: #ffbf47;
}

.grid-icon-1 {
	margin-left: 53px;
}

.grid-item-min-1 a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 135px;
	height: 38px;
	background-color: #e6ac40;
	border-radius: 2px;
	text-decoration: none;
	margin-left: 25px;
}

.grid-item-min-1 a:hover {
	background-color: #cc9939;
}

.grid-item-min-1 a:active {
	background-color: #b38632;
}

.grid-item-min-2 {
	display: flex;
	width: 300px;
	height: 123px;
	background-color: #3bbce3;
}

.grid-icon-2 {
	margin-left: 40px;
}

.grid-item-min-2 a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 135px;
	height: 38px;
	background-color: #35aacd;
	border-radius: 2px;
	text-decoration: none;
	margin-left: 25px;
}

.grid-item-min-2 a:hover {
	background-color: #2f96b6;
}

.grid-item-min-2 a:active {
	background-color: #29849f;
}

.grid-item-min-3 {
	display: flex;
	width: 300px;
	height: 123px;
	background-color: #dc91d8;
}

.grid-icon-3 {
	margin-left: 35px;
}

.grid-item-min-3 a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 135px;
	height: 38px;
	background-color: #c683c3;
	border-radius: 2px;
	text-decoration: none;
	margin-left: 25px;
}

.grid-item-min-3 a:hover {
	background-color: #b074ad;
}

.grid-item-min-3 a:active {
	background-color: #9a6698;
}

.grid-item-min-4 {
	display: flex;
	width: 300px;
	height: 123px;
	background-color: #8ed78f;
	margin-top: 20px;
}

.grid-icon-4 {
	margin-left: 35px;
}

.grid-item-min-4 a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 135px;
	height: 38px;
	background-color: #80c281;
	border-radius: 2px;
	text-decoration: none;
	margin-left: 25px;
}

.grid-item-min-4 a:hover {
	background-color: #72ac72;
}

.grid-item-min-4 a:active {
	background-color: #649764;
}

.grid-item-min-5 {
	display: flex;
	width: 300px;
	height: 123px;
	background-color: #ffc047;
}

.grid-icon-5 {
	margin-left: 30px;
}

.grid-item-min-5 a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 135px;
	height: 38px;
	background-color: #e6ac40;
	border-radius: 2px;
	text-decoration: none;
	margin-left: 25px;
}

.grid-item-min-5 a:hover {
	background-color: #cc9939;
}

.grid-item-min-5 a:active {
	background-color: #b38632;
}

.grid-item-1 h2 {
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	color: #ffffff;
	margin: 25px 0 10px 25px;
}

.grid-item-1 p {
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	line-height: 24px;
	color: #ffffff;
	margin: 0 0 20px 25px;
}

.grid-button {
	display: flex;
	justify-content: space-between;
}

.grid-button-left {
	margin-top: 10px;
	margin-left: 25px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	background: url("../img/icon-left.svg");
	width: 22px;
	height: 40px;
}

.grid-button-left:active {
	outline: none;
}

.grid-button-right {
	margin-top: 10px;
	margin-right: 20px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	background: url("../img/icon-right.svg");
	width: 22px;
	height: 40px;
}

.grid-button-right:active {
	outline: none;
}

/*Популярные товары и производители*/

.popular-item-title {
	display: flex;
	max-width: 940px;
	height: 90px;
	margin: auto;
	justify-content: space-between;
	align-items: center;
	background-color: #f9f5f0;
	margin-top: 52px;
	margin-bottom: 20px;
}

.popular-item-title h2 {
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	font-style: normal;
	color: #32425c;
	margin: 0;
	margin-left: 29px;
	text-transform: uppercase;
}

.popular-producer-title {
	display: flex;
	max-width: 940px;
	height: 90px;
	margin: auto;
	justify-content: space-between;
	align-items: center;
	background-color: #f9f5f0;
	margin-bottom: 20px;
}

.popular-producer-title h2 {
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	font-style: normal;
	color: #32425c;
	margin: 0;
	margin-left: 29px;
	margin-top: 5px;
	text-transform: uppercase;
}

.button-popular {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 255px;
	height: 38px;
	background-color: #ee3643;
	border-radius: 2px;
	text-decoration: none;
	margin-right: 23px;
}

.button-popular span {
	color: #ffffff;
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
}

.popular-item {
	display: flex;
	max-width: 940px;
	margin: auto;
	justify-content: space-between;
}

.popular-producer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 940px;
	margin: auto;
}

.popular-producer-item {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	cursor: pointer;
	width: 218px;
	height: 143px;
	border: 1px solid #e5e5e5;
	margin-bottom: 20px;
}

.popular-producer-item img {
	margin-top: -2px;
}

.makita {
	padding-bottom: 7px;
}

.interskol {
	padding-bottom: 14px;
}

.hitachi {
	padding-top: 4px;
	padding-left: 5px;
}

.metabo {
	padding-bottom: 4px;
	padding-left: 5px;
}

.popular-producer-item:hover {
	box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.5);
}

.popular-producer-item:active {
	box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
}

.popular-producer-item:active img {
	opacity: 0.3;
}

/*Сервисы*/

.service-blue {
	background-color: #f4f8f9;
	height: 522px;
	width: 100%;
	margin-top: 65px;
}

.service-title {
	max-width: 940px;
	margin: auto;
	padding-top: 65px;
}

.service-title h2 {
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 25px;
}

.service-title p {
	width: 400px;
	font-family: "PTSans","Arial",sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	margin: 0;
}

.service {
	display: flex;
	max-width: 940px;
	margin: auto;
	margin-top: 70px;
	margin-bottom: 80px;
}

.service-items {
	display: flex;
	flex-direction: column;
}

.service-items:after {
	content: "";
	position: absolute;
	width: 10px;
	height: 272px;
	margin-left: 230px;
	margin-top: -30px;
	background: url(../img/shadow.png) 100% 0 no-repeat;
	;
}

.service-item {
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	width: 240px;
	height: 62px;
	background-color: #32425c;
	border-top: 1px solid #405069;
	border-bottom: 1px solid #293449;
	padding: 0;
}

.service-item:hover {
	background-color: #293449;
}

.service-item span {
	margin-left: 22px;
	color: #ffffff;
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;
	font-style: normal;
}

.service-item-select {
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	width: 240px;
	height: 60px;
	background-color: #ffffff;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	padding: 0;
}

.service-item-select span {
	margin-left: 22px;
	color: #32425c;
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;
	font-style: normal;
}

.shadow {
	position: absolute;
	margin-left: 230px;
	margin-top: -40px;
}

.service-slider-1 {
	position: absolute;
	margin-left: 320px;
	width: 620px;
	height: 290px;
	background: url("../img/delivery.png") 99% 23px no-repeat;
}

.service-slider-1 p {
	width: 275px;
}

.service-slider-2 {
	position: absolute;
	margin-left: 320px;
	width: 620px;
	height: 290px;
	background: url("../img/garant.png") 99% 10px no-repeat;
}

.service-slider-2 p {
	width: 340px;
}

.service-slider-3 {
	position: absolute;
	margin-left: 320px;
	width: 620px;
	height: 290px;
	background: url("../img/credit.png") 99% 10px no-repeat;
}

.button-request {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 195px;
	height: 38px;
	background-color: #ee3643;
	border-radius: 2px;
	text-decoration: none;
	margin-top: 30px;
}

.button-request span {
	color: #ffffff;
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: normal;
	font-style: normal;
}

.service h2 {
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 36px;
	line-height: 36px;
	font-weight: normal;
	font-style: normal;
	color: #32425c;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 23px;
	margin-left: 1px;
}

.service p {
	font-family: "PTSans","Arial",sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	margin: 0;
}

.delivery {
	position: absolute;
	margin-left: 500px;
}

/* О компании */

.container-info {
	display: flex;
	max-width: 940px;
	margin: auto;
	padding-top: 80px;
}

.container-info-company {
	width: 640px;
}

.info-title {
	padding: 0;
	margin: 0;
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	padding-bottom: 24px;
}

.info-text-1 {
	padding: 0;
	margin: 0;
	font-family: "PTSans","Arial",sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	padding-bottom: 24px;
	width: 520px;
}

.info-text-2 {
	padding: 0;
	margin: 0;
	font-family: "PTSans","Arial",sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	padding-bottom: 24px;
	width: 420px;
}

.info-text:nth-child(3) {
	padding-bottom: 26px;
}

.list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.list-item {
	display: flex;
	align-items: center;
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	margin-bottom: 18px;
}

.list-item:last-child {
	margin-bottom: 38px;
}

.list-item:before {
	content: "";
	display: inline-block;
	height: 2px;
	width: 25px;
	background-color: #ee3643;
	margin-right: 11px;
}

.button-more-item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 220px;
	height: 38px;
	background-color: #ee3643;
	border-radius: 2px;
	text-decoration: none;
}

.button-more-item:hover {
	background-color: #ca2c37;
}

.button-more-item:active {
	background-color: #ba2732;
}

.button-more-item span {
	color: #ffffff;
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
}

.contact-title {
	padding: 0;
	margin: 0;
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	padding-bottom: 24px;
}

.contact-text {
	padding: 0;
	margin: 0;
	font-family: "PTSans","Arial",sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	padding-bottom: 32px;
	width: 200px;
}

.map img {
	padding-bottom: 36px;
}

.button-contact-item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 300px;
	height: 38px;
	background-color: #ee3643;
	border-radius: 2px;
	text-decoration: none;
}

.button-contact-item:hover {
	background-color: #ca2c37;
}

.button-contact-item:active {
	background-color: #ba2732;
}

.button-contact-item span {
	color: #ffffff;
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
}

/* Футер */

.main-footer-top {
	background-color: #32425c;
	padding-bottom: 50px;
}

.main-footer-top-content {
	display: flex;
	align-items: flex-start;
	margin: auto;
	max-width: 940px;
	margin-top: 86px;
}

.main-footer-top-left {
	width: 390px;
}

.logo-footer-item {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	width: 220px;
	height: 63px;
	background-color: #ee3643;
	box-shadow: 0px 5px 0px 0px rgba(181, 41, 51, 1);
	margin-bottom: 36px;
}

.logo-footer-item span {
	color: #ffffff;
	text-decoration: none;
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 30px;
	font-weight: normal;
	font-style: normal;
}

.footer-adress {
	padding: 0;
	margin: 0;
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	font-style: normal;
	color: #ffffff;
	width: 340px;
	margin-top: -3px;
	margin-left: 3px;
}

.footer-navigation-primary {
	display: flex;
	justify-content: flex-end;
	max-width: 550px;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: -3px;
}

.footer-list-primary {
	margin-right: 60px;
	margin-top: 40px;
}

.footer-list-primary:last-child {
	margin-right: 0;
}

.footer-list-primary a {
	text-decoration: none;
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	font-style: normal;
	color: #ffffff;
}

.footer-list-primary a:hover {
	text-decoration: underline;
}

.footer-list-primary a:active {
	color: #929caa;
	text-decoration: none;
}

.footer-navigation-secondary {
	display: flex;
	justify-content: flex-end;
	max-width: 550px;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: -6px;
}

.footer-list-secondary {
	margin-right: 60px;
	margin-top: 40px;
}

.footer-list-secondary:first-child {
	margin-right: 60px;
}

.footer-list-secondary:nth-child(2) {
	margin-right: 58px;
}

.footer-list-secondary:nth-child(3) {
	margin-right: 58px;
}

.footer-list-secondary:last-child {
	margin-right: 0;
}

.footer-list-secondary a {
	text-decoration: none;
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	font-style: normal;
	color: #ffd180;
}

.footer-list-secondary a:hover {
	text-decoration: underline;
}

.footer-list-secondary a:active {
	color: #998a6e;
	text-decoration: none;
}

.main-footer-bottom {
	background-color: #293449;
}

.main-footer-bottom-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	max-width: 940px;
	height: 107px;
}

.main-footer-bottom-info {
	padding: 0;
	margin: 0;
	width: 250px;
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
	color: #ffffff;
}

.main-footer-bottom-social {
	display: flex;
	margin-left: 45px;
}

.social-item {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: #212a3a;
	margin-right: 5px;
	position: relative;
}

.social-item a {
	height: 100%;
	width: 100%;
	text-align: center;
	line-height: 40px;
}

.social-item svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.social-item:hover {
	background-color: #ee3643;
}

.social-item:active {
	background-color: #ee3643;
}

.main-footer-bottom-contact {
	display: flex;
}

.footer-contact {
	padding: 0;
	margin: 0;
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
	color: #ffffff;
	width: 110px;
}

.footer-contact:nth-child(1) {
	margin-right: 80px;
	margin-left: 20px;
}

.footer-contact a {
	text-decoration: none;
	color: #ffd180;
}

.footer-contact a:hover {
	text-decoration: underline;
}

.footer-contact a:active {
	color: #ee3643;
	text-decoration: none;
}

/*Карта*/

.map-invisible {
	display: none;
}

.map-show {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.map-invisible iframe {
	border: none;
	box-shadow: 0px 0px 24px 4px rgba(0,0,0,0.5);
}

.button-close-map {
	border: none;
	background-color: transparent;
}

.close-map {
	position: absolute;
	margin-left: 450px;
	margin-top: -200px;
	cursor: pointer;
	border: none;
	background-color: transparent;
	background: url(../img/icon-close.svg) no-repeat;
	width: 21px;
	height: 21px;
}

/*обратная связь*/

.write-us-invisible {
	display: none;
}

.write-us-show {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.write-us {
	width: 620px;
	height: 424px;
	background-color: #ffffff;
	border-top: 7px solid #ff5257;
	box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.75);
}

.close-write-us {
	margin-top: 10px;
	margin-left: 590px;
	cursor: pointer;
	border: none;
	background-color: transparent;
	background: url(../img/icon-close.svg) no-repeat;
	width: 21px;
	height: 21px;
}

.form-write-us {
	padding-top: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 460px;
}

.form-write-us label {
	display: flex;
	flex-direction: column;
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
}

.form-write-us label span {
	padding-bottom: 10px;
}

.form-write-us input {
	font-family: "PTSans","Arial",sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
	color: #a9a9a9;
}

.form-write-us input[type="text"] {
	width: 220px;
	height: 38px;
	border: 2px solid #dee3e4;
	border-radius: 2px;
	box-sizing: border-box;
	padding-left: 15px;
}

.form-write-us input[type="email"] {
	width: 220px;
	height: 38px;
	border: 2px solid #dee3e4;
	border-radius: 2px;
	box-sizing: border-box;
	padding-left: 15px;
}

.form-write-us textarea {
	padding: 15px;
	width: 460px;
	height: 114px;
	border: 2px solid #dee3e4;
	border-radius: 2px;
	box-sizing: border-box;
	font-family: "PTSans","Arial",sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
	color: #a9a9a9;
}

.form-write-us .free-text {
	padding-top: 20px;
}

.button-send {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	width: 460px;
	height: 38px;
	background-color: #ee3643;
	border-radius: 2px;
	text-decoration: none;
	margin-top: 70px;
	border: none;
}

.button-send span {
	color: #ffffff;
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
}

/*Добавление в корзину*/

.add-cart-invisible {
	display: none;
}

.add-cart-show {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.add-cart {
	width: 620px;
	height: 275px;
	background-color: #ffffff;
	border-top: 7px solid #ff5257;
	box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.75);
}

.close-cart {
	border: none;
	cursor: pointer;
	position: absolute;
	margin-left: 590px;
	margin-top: 10px;
	background-color: transparent;
	background: url(../img/icon-close.svg) no-repeat;
	width: 21px;
	height: 21px;
}

.add-cart-up {
	display: flex;
	align-items: center;
	margin: auto;
	height: 163px;
	width: 460px;
}

.fine {
	background: url(../img/form-1.svg);
	width: 66px;
	height: 66px;
	margin-right: 25px;
}

.add-cart-up h2 {
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
}

.add-cart-down {
	background-color: #f1f1f1;
}

.add-cart-down-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	height: 112px;
	width: 460px;
}

.checkout {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	width: 220px;
	height: 38px;
	background-color: #ee3643;
	border-radius: 2px;
	text-decoration: none;
	border: none;
}

.checkout span {
	color: #ffffff;
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
}

.continue {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	width: 220px;
	height: 38px;
	background-color: #ffffff;
	border-radius: 2px;
	text-decoration: none;
	border: none;
}

.continue:active {
	outline: none;
}

.continue span {
	color: #000000;
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
}
