@font-face {
    font-family: Cuprum;
    src: url(../fonts/cuprum.woff2);
}
@font-face {
    font-family: Cuprum Bold;
    src: url(../fonts/cuprumbold.woff2);
}
@font-face {
    font-family: Cuprum Bold Italic;
    src: url(../fonts/cuprumbolditalic.woff2);
}
@font-face {
    font-family: Cuprum Italic;
    src: url(../fonts/cuprumitalic.woff2);
}

@font-face {
    font-family: PTSans;
    src: url(../fonts/ptsans.woff2);
}

@font-face {
    font-family: PTSans Bold;
    src: url(../fonts/ptsansbold.woff2);
}

body {
	margin: 0;
	background-color: #f1f5f7;
}

main::after {
  content: "";
  clear: both;
  display: block;
  height: 0;
}

/*ШАПКА 1 СЕКЦИЯ*/

.header{
	height: 260px;
	width: 100%;
	margin-bottom: 60px;
}

.main-header{
	width: 100%;
	background-color: #293449;
}

.header-content{
	max-width: 940px;
	height: 42px;
	margin: 0 auto;
}

.user-nav{
	height: 42px;
	display: flex;
    align-items: center;
    position: relative;
}

.user-nav-logo{
	width: 220px;
	height: 100%;
	background-color: #ee3643;
	box-shadow: 0px 5px 0px 0px rgba(181, 41, 51, 1);
}

.user-nav-logo a{
	display: inline-block;
	height: 100%;
	width: 100%;
	text-align: center;
	line-height: 42px;
}

.user-nav-logo:hover{
	background-color: #ca2c37;
	box-shadow: 0px 5px 0px 0px rgba(154, 33, 42, 1);
}

.user-nav-logo:active{
	background-color: #ba2732;
	box-shadow: 0px 5px 0px 0px rgba(142, 30, 38, 1);
}

.logo{
	color: #ffffff;
	text-decoration: none;
	font-family: "Cuprum";
	font-size: 17px;
	line-height: 18px;
}

.header-search{
	width: 270px;
	height: 100%;
}

.icon-search{
	padding: 12px 20px 17px 13px;
	float: left;
	fill: #6a7180;
}

#search-item{
	width: 220px;
	height: 42px;
	border: none;
	background-color: transparent;
	color: #ffffff;
	float: right;
	outline: none;
	padding: 0;
	font-family: "Cuprum";
	font-size: 17px;
	line-height: 18px;
}

#search-item:focus{
	background-color: #ffffff;
	color: #000000;
}

#search-item:focus ~ #icon-search{
	background-color: #ffffff;
	fill: #ee3643;
}

.user-nav-item{
	width: 106px;
	color: #ffffff;
	float: right;
	text-decoration: none;
	font-family: "Cuprum";
	font-size: 17px;
	line-height: 18px;
}

.user-nav-bookmark{
	height: 100%;
	width: 150px;
}

.user-nav-bookmark a{
	display: inline-block;
	height: 100%;
	width: 150px;
	line-height: 42px;
}

.user-nav-bookmark:hover{
	background-color: #212a3a;
}

.user-nav-bookmark:hover .icon-bookmark{
	fill: #ffffff;
}

.user-nav-bookmark:active{
	background-color: #161d29;
}

.icon-bookmark{
	margin-left: 17px;
	margin-right: 13px;
	margin-top: 12px;
	margin-bottom: 14px;
	float: left;
	fill: #6a7180;
}

.user-nav-cart{
	height: 100%;
	width: 150px;
}

.user-nav-cart a{
	display: inline-block;
	height: 100%;
	width: 150px;
	line-height: 42px;
}

.user-nav-cart:hover{
	background-color: #212a3a;
}

.user-nav-cart:hover .icon-cart{
	fill: #ffffff;
}

.user-nav-cart:active{
	background-color: #161d29;
}

.user-nav-cart-full{
	height: 100%;
	width: 150px;
	background-color: #ee3643;
}

.user-nav-cart-full a{
	display: inline-block;
	height: 100%;
	width: 150px;
	line-height: 42px;
}

.icon-cart{
	margin-left: 18px;
	margin-right: 17px;
	margin-top: 12px;
	margin-bottom: 17px;
	float: left;
	fill: #6a7180;
}

.icon-cart-full{
	margin-left: 18px;
	margin-right: 17px;
	margin-top: 12px;
	margin-bottom: 17px;
	float: left;
	fill: #f3737c;
}

.user-nav-order{
	height: 100%;
	width: 150px;
	background-color: #63a63e;
	position: relative;
	font-family: "Cuprum";
	font-size: 17px;
	line-height: 18px;
}

.user-nav-order a{
	display: inline-block;
	height: 100%;
	width: 100%;
	text-align: center;
	line-height: 42px;
} 

.user-nav-order:hover{
	background-color: #5fbb2d;
}

.user-nav-order:active{
	background-color: #518534;
}

.order{
	color: #ffffff;
	text-decoration: none;
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/*ШАПКА 2 СЕКЦИЯ*/

.main-info{
	width: 864px;
	height: 158px;
	margin: 0 auto;
}

.main-info-title{
	font-family: "Cuprum Italic";
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
	width: 196px;
	padding-top: 48px;
	padding-right: 68px;
	float: left;
}

.contact{
	padding: 10px 30px 10px 10px;
	border: 2px solid #ffffff;
	margin-top: 46px;
	margin-bottom: 10px;
}

.main-info-contact{
	float: left;
}

#icon-phone{
	float: left;
	margin-right: 40px;
}

.header-phone{
	text-decoration: none;
	color: #ee3643;
	font-family: "Cuprum";
	font-size: 21px;
	line-height: 21px;
}

.header-adress{
	font-family: "Cuprum";
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
	text-align: center;
}

.main-info-user{
	float: left;
	margin-top: 46px;
	margin-left: 50px;
}

.user{
	height: 45px;
	width: 240px;
	background-color: #ffffff;
	float: left;
}

.user a{
	width: 240px;
	display: inline-block;
	line-height: 45px;
}

.user-item{
	color: #000000;
	float: left;
	text-decoration: none;
	font-family: "Cuprum";
	font-size: 21px;
	line-height: 21px;
}

.icon-user{
	margin: 14px 14px 14px 14px;
	float: left;
	fill: #c5c5c5;
}

.user:hover .icon-user{
	fill: #32425c;
}

.user-item:active{
	color: #c5c5c5;
}

.user:active .icon-user{
	fill: #c5c5c5;
}

.logout{
	height: 45px;
	width: 60px;
	background-color: #ffffff;
	float: right;
}

.logout a{
	width: 60px;
	display: inline-block;
	line-height: 45px;
}

.icon-logout{
	margin: 14px 14px 14px 14px;
	float: right;
	fill: #c5c5c5;
}

.logout:hover .icon-logout{
	fill: #32425c;
}

.logout:active .icon-logout{
	fill: #c5c5c5;
}

.login{
	height: 45px;
	width: 121px;
	background-color: #ffffff;
	float: left;
}

.login a{
	width: 121px;
	display: inline-block;
	line-height: 45px;
}

.login-item:hover{
	color: #ee3643;
}

.login:hover .icon-login{
	fill: #32425c;
}

.login-item:active{
	color: #c5c5c5;
}

.login:active .icon-login{
	fill: #c5c5c5;
}

.login-item{
	color: #000000;
	float: left;
	text-decoration: none;
	font-family: "Cuprum";
	font-size: 21px;
	line-height: 21px;
}

.icon-login{
	margin: 14px 14px 14px 14px;
	float: left;
	fill: #c5c5c5;
}

.registration{
	height: 45px;
	width: 150px;
	background-color: #ffffff;
	float: right;
	margin-left: 10px;
}

.registration a{
	display: inline-block;
	width: 150px;
	line-height: 45px;
}

.registration-item:hover{
	color: #ee3643;
}

.registration-item:active{
	color: #c5c5c5;
}

.registration-item{
	color: #000000;
	float: left;
	text-decoration: none;
	font-family: "Cuprum";
	font-size: 21px;
	line-height: 21px;
	text-align: center;
}

.header-order-item{
	float: left;
	text-decoration: underline;
	font-size: 16px;
	line-height: 18px;
	font-family: "Cuprum";
	color: #32425c;
	margin-left: 18px;
	margin-top: 10px;
}

.header-order-item:hover{
	color: #ee3643;
}

.header-order-item:active{
	color: #c5c5c5;
}

.header-order-item:first-child::after{
	content: "";
	height: 4px;
	width: 4px;
	border-radius: 2px;
	background-color: #32425c;
	position: absolute;
	display: inline-block;
	margin-left: 14px;
	margin-top: 7px;
}

.header-order-item:last-child{
	margin-left: 31px;
}

/*Меню*/

.main-navigation{
	max-width: 940px;
	height: 55px;
	background-color: #32425c;
	box-shadow: 0px 5px 0px 0px rgba(41, 52, 73, 1);
}

.navigation{
	float: left;
	width: 14.28%;
}

.navigation a{
	display: inline-block;
	height: 100%;
	width: 100%;
	text-align: center;
	line-height: 56px;
}

.navigation:hover{
	background-color: #293449;
}

.navigation:active{
	background-color: #1d2739;
	box-shadow: 0px 3px 0px 0px rgba(29, 39, 57, 1);
}

.navigation:active .navigation-item{
	color: #8e939c;
}

.navigation-item{
	text-decoration: none;
	color: #ffffff;
	text-align: center;
	font-family: "Cuprum";
	font-size: 17px;
	line-height: 17px;
}

/*Каталог*/

.container{
	background-color: #ffffff;
}

.container-content{
	max-width: 940px;
	margin: 0 auto;
}

/*Хлебные крошки и h1*/
  
.breadcrumbs{
	padding: 0;
	padding-top: 23px;
	margin: 0;
	height: 36px;
}

.link-item{
	display: inline-block;
	margin-left: 16px;
}

.link-item:first-child{
	margin-left: 0;
}

.link-item a{
	text-decoration: none;
	color: #000000;
	font-family: "PTSans";
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}

.category-title{
	background-color: #f2f6f8;
	font-family: "Cuprum";
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	padding: 33px 0 33px 33px;
}

/*Параметры*/

.parameter{
	float: left;
	width: 220px;
}

.parameter-title{
	font-family: "PTSans Bold";
	font-size: 17px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.manufacturers{
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.manufacturers-item{
	list-style-type: none;
}

.manufacturers-item label{
	text-decoration: none;
	color: #000000;
}

input.manufacturers-item{
 	display: none;
}

label.manufacturers-label{
 	cursor: pointer;
 	height: 23px;
 	margin-bottom: 16px;
 	position: relative;
}

.parameter-text{
	position: absolute;
	font-family: "PTSans";
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	padding-top: 2px;
}

/*Checkbox OFF*/

label.manufacturers-label::before{
 	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23"><path fill="#c5c5c5" d="M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z"/></svg>');
 	padding-right: 13px;
}

label.manufacturers-label:hover::before{
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23"><path fill="#b5b5b5" d="M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z"/></svg>');
}

input:disabled + label.manufacturers-label::before{
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23"><path fill="#e9e9e9" d="M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z"/></svg>');
}

/*Checkbox ON*/

input:checked + label.manufacturers-label::before{
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="27" height="23" viewBox="0 0 27 23"><path fill="#c5c5c5" d="M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z"/><path fill="#c5c5c5" d="M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z"/></svg>');
	padding-right: 9px;
}

input:checked + label.manufacturers-label:hover::before{
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="27" height="23" viewBox="0 0 27 23"><path fill="#b5b5b5" d="M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z"/><path fill="#b5b5b5" d="M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z"/></svg>');
	padding-right: 9px;
}

input:disabled:checked + label.manufacturers-label::before{
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="27" height="23" viewBox="0 0 27 23"><path fill="#e9e9e9" d="M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z"/><path fill="#e9e9e9" d="M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z"/></svg>');
	padding-right: 9px;
}

.power{
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.power-item{
	list-style-type: none;
}

.power-item label{
	text-decoration: none;
	color: #000000;
}

input.power-item{
 	display: none;
}

label.power-label{
 	cursor: pointer;
 	height: 23px;
 	margin-bottom: 16px;
 	position: relative;
}

/*Radio OFF*/

label.power-label::before{
 	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25"><path fill="#c5c5c5" d="M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z"/></svg>');
 	padding-right: 10px;
}

label.power-label:hover::before{
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25"><path fill="#b5b5b5" d="M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z"/></svg>');
}

input:disabled + label.power-label::before{
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25"><path fill="#e9e9e9" d="M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z"/></svg>');
}

/*Radio ON*/

input:checked + label.power-label::before{
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25"><path fill="#c5c5c5" d="M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z"/><circle fill="#c5c5c5" cx="12.5" cy="12.5" r="4.5"/></svg>');
}

input:checked + label.power-label:hover::before{
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25"><path fill="#b5b5b5" d="M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z"/><circle fill="#b5b5b5" cx="12.5" cy="12.5" r="4.5"/></svg>');
}

input:disabled:checked + label.power-label::before{
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25"><path fill="#e9e9e9" d="M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z"/><circle fill="#e9e9e9" cx="12.5" cy="12.5" r="4.5"/></svg>');
}

.line{
	height: 1px;
	width: 100%;
	background-color: #e5e5e5;
	margin-top: 5px;
	margin-bottom: 23px;
}

.btn-show{
	margin-top: 35px;
	width: 140px;
	height: 38px;
	background-color: transparent;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	text-transform: uppercase;
	font-family: "PTSans";
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	cursor: pointer;
}

/*Каталог товаров*/

.items{
	width: 700px;
	float: left;
	margin-left: 20px;
}

.item{
	width: 218px;
	height: 318px;
	float: left;
	margin: 0 20px 20px 0;
	border: 1px solid #e5e5e5;
	text-align: center;
}

.item:nth-child(3n+3){
	margin-right: 0;
}

.item:hover{
	box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.5);
}

.item-link{
	text-decoration: none;
}

.new{
	width: 0; 
	height: 0;
	border-top: 60px solid #ee3643;
	border-left: 60px solid transparent;
	float: right;
	position: relative;
	z-index: 2;
}

.new-white{
	width: 0; 
	height: 0;
	border-top: 20px solid #ffffff;
	border-left: 20px solid transparent;
	float: right;
	position: relative;
	top: -60px;
	z-index: 2;
}

.new-text{
	color: #ffffff;
	float: right;
	position: relative;
	top: -25px;
	right: 10px;
	z-index: 2;
	transform: rotate(45deg);
	font-family: "Cuprum";
	font-size: 14px;
}

.item-img-1{
	margin-bottom: 12px;
	background: url(../img/perforator-1.jpg) no-repeat;
	z-index: 1;
	height: 170px;
}

.item-img-2{
	margin-bottom: 12px;
	background: url(../img/perforator-2.jpg) no-repeat;
	z-index: 1;
	height: 170px;
}

.item-img-3{
	margin-bottom: 12px;
	background: url(../img/perforator-3.jpg) no-repeat;
	z-index: 1;
	height: 170px;
}

.item-title{
	width: 190px;
	margin: 0 auto;
	font-family: "PTSans Bold";
	font-size: 18px;
	line-height: 20px;
	color: #000000;
}

.price{
	font-family: "PTSans Bold";
	font-size: 17px;
	line-height: 18px;
	color: #999999;
	text-decoration: line-through;
	margin: 0;
	padding-top: 14px;
	padding-bottom: 10px;
}

.discount-price{
	width: 122px;
	height: 38px;
	background-color: #ee3643;
	position: relative;
	margin: 0 auto;
}

.discount-price:after{
	content: "";
	border-top: 19px solid transparent;
	border-left: 19px solid #ee3643;
	border-bottom: 19px solid transparent;
	position: absolute;
	left: 100%;
	top: 0;
}

.discount-price p{
	font-family: "PTSans Bold";
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	position: absolute;
	margin: 0;
	top: 25%;
	left: 25%;
}

.only-discount-price{
	width: 122px;
	height: 38px;
	background-color: #ee3643;
	position: relative;
	margin: 0 auto;
	margin-top: 42px;
}

.only-discount-price:after{
	content: "";
	border-top: 19px solid transparent;
	border-left: 19px solid #ee3643;
	border-bottom: 19px solid transparent;
	position: absolute;
	left: 100%;
	top: 0;
}

.only-discount-price p{
	font-family: "PTSans Bold";
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	position: absolute;
	margin: 0;
	top: 25%;
	left: 25%;
}

/*О компании*/

.container-info{
	max-width: 940px;
	height: 450px;
	margin: 0 auto;
}

.container-info-company{
	float: left;
	width: 520px;
}

.info-title{
	font-size: 30px;
	line-height: 30px;
	font-family: "Cuprum";
}

.info-text{
	font-size: 13px;
	line-height: 24px;
	font-family: "Cuprum";
}

.list-item{
	list-style-type: none;
	margin-bottom: 24px;
	font-size: 18px;
	line-height: 20px;
	font-family: "PTSans";
	color: #000000;
}


.list-item:before{
	content: "";
	display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 2px;
    background-color: #ee3643;
    margin-right: 11px;
}

.button-more{
	width: 220px;
	height: 38px;
	border-radius: 2px;
	background-color: #ee3643;
	margin-top: 37px;
}

.button-more:hover{
	background-color: #ca2c37;
}

.button-more:active{
	background-color: #ba2732;
}

.button-more-item{
	text-decoration: none;
	color: #ffffff;
	font-family: "Cuprum";
	font-size: 14px;
	line-height: 38px;
	display: inline-block;
	height: 100%;
	width: 100%;
	text-align: center;
}

.container-info-contact{
	float: right;
}

.contact-title{
	font-size: 30px;
	line-height: 30px;
	font-family: "Cuprum";
}

.contact-text{
	font-size: 13px;
	line-height: 24px;
	font-family: "Cuprum";
}

.button-contact{
	width: 300px;
	height: 38px;
	border-radius: 2px;
	background-color: #ee3643;
	margin-top: 40px;
}

.button-contact:hover{
	background-color: #ca2c37;
}

.button-contact:active{
	background-color: #ba2732;
}

.button-contact-item{
	text-decoration: none;
	color: #ffffff;
	font-family: "Cuprum";
	font-size: 14px;
	line-height: 38px;
	display: inline-block;
	height: 100%;
	width: 100%;
	text-align: center;
}

/*Футер 1 секция*/

.main-footer{
	height: 300px;
}

.main-footer-top{
	background-color: #32425c;
	height: 195px;
}

.main-footer-content{
	max-width: 940px;
	margin: 0 auto;
}

.main-footer-top-left{
	float: left;
}

.logo-footer{
	width: 220px;
	height: 63px;
	background-color: #ee3643;
	box-shadow: 0px 5px 0px 0px rgba(181, 41, 51, 1);
	margin-bottom: 37px;
}

.logo-footer a{
	display: inline-block;
	height: 100%;
	width: 100%;
	text-align: center;
	line-height: 63px;
}

.logo-footer-item{
	color: #ffffff;
	text-decoration: none;
	font-family: "Cuprum";
	font-size: 24px;
}

.footer-adress{
	font-size: 18px;
	line-height: 24px;
	font-family: "Cuprum";
	color: #ffffff;
}


.footer-navigation-primary{
	list-style-type: none;
	float: right;
	margin-top: 42px;
	margin-bottom: 0px;
}

.footer-list{
	display: inline;
}

.footer-navigation-item{
	text-decoration: none;
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-family: "Cuprum";
	float: left;
	margin-right: 60px;
	position: relative;
}

.footer-navigation-item::after{
	content: "";
	display: block;
	position: absolute;
	background-color: #ffffff;
	height: 1px;
	width: 0%;
	bottom: -2px;
}

.footer-navigation-item:hover::after{
	width: 100%;
}

.footer-navigation-item:active{
	color: rgba(241, 245, 247, .50);
}

.footer-navigation-item:active::after{
	width: 0%;
}

.footer-navigation-item-last{
	text-decoration: none;
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-family: "Cuprum";
	float: left;
	margin-right: 0;
	position: relative;
}

.footer-navigation-item-last::after{
	content: "";
	display: block;
	position: absolute;
	background-color: #ffffff;
	height: 1px;
	width: 0%;
	bottom: -2px;
}

.footer-navigation-item-last:hover::after{
	width: 100%;
}

.footer-navigation-item-last:active{
	color: rgba(241, 245, 247, .50);
}

.footer-navigation-item-last:active::after{
	width: 0%;
}

.footer-navigation-secondary{
	list-style-type: none;
	float: right;
	margin-top: 45px;
}

.footer-navigation-item-gold{
	text-decoration: none;
	color: #ffd180;
	font-size: 18px;
	line-height: 24px;
	font-family: "Cuprum";
	float: left;
	margin-right: 60px;
	position: relative;
}

.footer-navigation-item-gold::after{
	content: "";
	display: block;
	position: absolute;
	background-color: #ffd180;
	height: 1px;
	width: 0%;
	bottom: -1px;
}

.footer-navigation-item-gold:hover::after{
	width: 100%;
}

.footer-navigation-item-gold:active{
	color: rgba(255, 209, 128, .50);
}

.footer-navigation-item-gold:active::after{
	width: 0%;
}

.footer-navigation-item-gold-last{
	text-decoration: none;
	color: #ffd180;
	font-size: 18px;
	line-height: 24px;
	font-family: "Cuprum";
	float: left;
	position: relative;
}

.footer-navigation-item-gold-last::after{
	content: "";
	display: block;
	position: absolute;
	background-color: #ffd180;
	height: 1px;
	width: 0%;
	bottom: -1px;
}

.footer-navigation-item-gold-last:hover::after{
	width: 100%;
}

.footer-navigation-item-gold-last:active{
	color: rgba(255, 209, 128, .50);
}

.footer-navigation-item-gold-last:active::after{
	width: 0%;
}

.main-footer-bottom{
	height: 105px;
	width: 100%;
	background-color: #293449;
}

.main-footer-bottom-content{
	max-width: 940px;
	margin: 0 auto;
}

.main-footer-bottom-info{
	font-size: 16px;
	line-height: 18px;
	font-family: "Cuprum";
	color: #ffffff;
	float: left;
	width: 230px;
	margin-right: 160px;
	margin-top: 38px;
}

.main-footer-bottom-social{
	float: left;
	margin-right: 120px;
	margin-top: 35px;
}

.social-item{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: #212a3a;
	margin-right: 5px;
	float: left;
	position: relative;
}

.social-item a{
	display: inline-block;
	height: 100%;
	width: 100%;
	text-align: center;
	line-height: 40px;
}

.social-item svg{
	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%,-50%);
 	display: inline-block;
}

.social-item:hover{
	background-color: #ee3643;
}

.social-item:active{
	background-color: #ee3643;
}

.main-footer-bottom-contact{
	float: left;
}

.footer-contact{
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	font-family: "Cuprum";
	float: left;
	margin-right: 50px;
	margin-top: 38px;
}

.footer-contact:last-child{
	margin-right: 0;
}

.footer-contact-gold{
	position: absolute;
}

.footer-contact-gold a{
	text-decoration: none;
	color: #ffd180;
}

.footer-contact-gold a:active{
	color: #ee3643;
}

.footer-contact-gold::after{
	content: "";
	display: block;
	position: absolute;
	background-color: #ffd180;
	height: 1px;
	width: 0%;
	bottom: 1px;
}

.footer-contact-gold:hover::after{
	width: 100%;
}

.footer-contact-gold:active::after{
	width: 0%;
}